[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
pytest = "*"
invoke = "*"

[packages]
spotipy = "*"
wikipedia = "*"
lyricsgenius = "*"
azure-ai-textanalytics = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
